@import url('https://fonts.googleapis.com/css2?family=Josefin+Slab&family=Open+Sans:wght@300&display=swap');

*{
    margin: 0;
}


h1{
    font-family: 'Josefin Slab', serif;
    font-size: 70px;
}

.about{
    margin: 20px;
    display: flex;
    flex-direction: row;
    width: 1200px;
    padding: 60px 120px;
}

.text{
    width: 35%;
    padding-right: 40px;
    text-align: justify;
}

.text h1{
    color:  #A2D5C6;
    padding-bottom: 60px;
}

.text p{
    padding-bottom: 20px;
}

.pict{
    display: flex;
    flex-direction: column;
}

.work{
    position: absolute;
    top: 20px;
    right: 0;
    border-radius: 15px 0 0 15px;
} 

.rl{
    position: absolute;
    bottom: 0;
    left: 650px;
}

.rl p{
    position: relative;
    left: -50px;
    bottom: 90%;
    font-family: 'Josefin Slab', serif;
    font-style: italic;
    font-size: 40px;
}

.rl img{
    border-radius: 15px;

}

span{
    color:  #A2D5C6;  
}

