/* form */

@import url('https://fonts.googleapis.com/css2?family=Italiana&family=Josefin+Slab:ital,wght@0,300;0,400;0,500;0,600;0,700;1,400;1,600&family=Work+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500&display=swap');

/* font-family: 'Italiana', sans-serif;
font-family: 'Josefin Slab', serif;
font-family: 'Work Sans', sans-serif; */

/* even bij nemen niet overnemen */

*{

   margin: 0;
}

/* ------------------------------------ */

.reservation-title{
   display: flex;
   justify-content: center;
   padding-top: 100px;
}

.formm{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 20px;
    
   
 }
 
 .form-container{
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 40px;
    width: 100%;
    height: 600px;
   
 }
 
 .form-left{
    background-color: #E3E8E5;
    width: 50%;
    height: 100%;
    /* display: flex;
    flex-direction: column; */


    border-radius: 15px;
    padding-top: 40px;
    min-height: 600px;
    
   
 
 }

 .form-right {
    background-color: #E3E8E5;
    width: 50%;
    height: 100%;
    border-radius: 15px;
    padding-top: 40px;
    min-height: 600px;




 }

 .form-box1 {

    
  
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    padding : 5px 15px;
    width: 90%;
 }

 .label-name {

  
   
    width: 10%;
    text-align: left;
    padding-right: 80px;
   

 }

 .label-textarea{

   padding: 20px 0px;
 }

 input {

    width: 60%;
    height: 35px;
    border-radius: 15px;
    border: none;
 }

 .email-label{
    width: 12%;
 }

 select {

    width: 70%;
    height: 35px;
    border:none;
    border-radius: 15px;
    padding-right:30px;
    padding-left: 30px; 
 }

 option {

    text-align: center;
 }

 #time {
    width:70%;
  
   
    text-align: center;
 
 }

 #date {
    width: 70%;
    text-align: center;
    

 }

  .table {

    display: flex;
    flex-direction: column;

 }

 .table-box-top {
   display: flex;
   align-items: center;
   gap: 0px 40px;
   padding-top: 20px;
 }

 .table-box-top span {

   margin: 0;
 }

 .table-box-top p {

   padding: 0;
   margin: 0;
 }

 .table-box-bottom {

    
   width: 300px;
    height: 200px;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 30px; 
    padding: 30px 15px;
 }

/* .table-box-bottom div {

    height: 20%;
    width: 20%;
    border-radius: 30px;
    background: #FFF;
    padding: 0px 15px;
 }  */

 .table-box-top p {

    font-size: 20px;
   
 }

 
 .box {

    display: flex;
    justify-content: center;
    align-items: center;
    
 }

 .box:hover {

    background: #A2D5C6;
    transition: 0.3;
    cursor: pointer;
 }

 form{

    font-family: 'Work Sans', sans-serif;
 }

 .form-text {

    display: flex;
    flex-direction: column;
    gap: 20px;
    padding-top: 10px;
 }

 .form-text label {

    width: 100%;
    text-align: left;
 }

 textarea {

    border: none;
    border-radius: 15px;
 }
 
 .yesno {

    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
 }


.form-check{
   margin-top: 50px;
}

 .form-check label {

    width: 100%;
 }

 .form-check input {

  
    width: 40px;
    height: 40px;
    
    width: 100%;
   

    display: flex;
    align-self: flex-end;
 }

 #checkbox {

    border-radius: 30px;
 }

 
.form-bttn {

    width: 100%;
    display: flex;
    justify-content: center;
    margin-right: 60px;
    padding-top: 50px;
}
 #knop_verstuur {
    width: 200px;
    height: 45px;
    background-color: #A2D5C6;

    border-bottom: 3px solid #FFF;
    border-right: 1px solid #FFF;
    border-top: none;
    border-left: none;
    border-radius: 15px;

    color: #FFF;
    font-family: 'Work Sans', sans-serif;
    font-size: 1.125rem;
    
 }


 #knop_verstuur:hover {

   background: #FFF;
   color: #A2D5C6;
   border-top: 3px solid #A2D5C6;
   border-left: 1px solid #A2D5C6;
   transition: 0.3s;
   cursor: pointer;
}

.knop_verstuur:active {

   background: #A2D5C6;
   color: #FFF;
   /* border-top: 3px solid #FFF; */
   border-left: 1px solid #FFF; 
   border-bottom: 3px solid #FFF;
   border-right: 1px solid #FFF;

   transition: 0.5s;
   cursor: pointer;


}



 /* Verder pagina */

 .main-form-container {

   /* Dit heb ik overgenomen vanuit Figma  */
   background: linear-gradient(0deg, rgba(0, 0, 0, 0.20) 0%, rgba(0, 0, 0, 0.20) 100%), url(../images/Eccellenza\ Bar.jpg), lightgray 50% / cover no-repeat;
   background-position: center;
   background-repeat: no-repeat;
   background-size: cover; 
   height: 100vh;

   display: flex;
   padding-bottom: 250px;

 }
 
 
 footer{
   height: 100px;
   background-color: #E3E8E5;
   display: flex;
   align-items: center;
   justify-content: center;
}

footer p{
   align-items: center;
}


.reservation-title {

   color: #FFF;

text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
font-family: Josefin Slab;
font-size: 70px;
font-style: normal;
font-weight: 600;
line-height: normal;
padding-bottom: 50px;


}

.main-form-inside-container {

   width: 1200px;
   margin: auto;
}




input[type="radio"]{
   display: none;
}

.table-box{
   position: relative;
   color: black;
   font-family: 'Work Sans', sans-serif;
   font-size: 16px;
   border: 1px solid black;
   border-radius: 15px;
   width: 70px;
   height: 50px;

   display: flex;
   justify-content: center;
   align-items: center;

   cursor: pointer;

}

/* .table-box:before {

   position: absolute;
   content: "";
   height: 30px;
   width: 30px;
   border: 1px solid red;
   border-radius: 15px;
} */

input[type="radio"]:checked + .table-box {

   background: #A2D5C6;

}


#table_error {

   color: red;
}

.error {
   color: red;
   width: 100px;
   font-size: 12px;
}

label{
display: inline-block;
text-align:right;
width:200px;
}


 
 /* BOUWPLAN */

 .bouwplan {

   background: #E3E8E5;
   display: flex;
   align-items: center;
   justify-content: center;
 }