@import url('https://fonts.googleapis.com/css2?family=Italiana&family=Josefin+Slab:ital,wght@0,300;0,400;0,500;0,600;0,700;1,400;1,600&family=Work+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500&display=swap');

/* font-family: 'Italiana', sans-serif;
font-family: 'Josefin Slab', serif;
font-family: 'Work Sans', sans-serif; */

/*  GENERAL */

html {

   scroll-behavior: smooth;
}
body {

    margin: 0;
    font-family: 'Work Sans', sans-serif;
}

/* img {

    width: 100%;
    height: auto;
} */

h1, h2, h3 {

    font-family: 'Josefin Slab', serif;
    
}

h1 {

    font-size: 4rem;
}

h2 {

    font-size: 2.3rem;
}

button a {

   text-decoration: none;
   color: #FFF;
}

.logo a {

   color:#fff;
   text-decoration: none;

}


/*  HERO SECTION */

.hero {

    background: url('../images/Eccellenza Restaurant.jpg' );
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    width: 100%;
    margin-top: -60px;
    z-index: -100;
    padding-top: 150px;
    padding-bottom: 150px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.restaurantName h1 {

    font-size: 230px;
    font-family: 'Italiana', sans-serif;
    color: white;
    margin: 0px;
    margin-bottom: -75px;

}

.openingBox {

    width: 525px;
    height: 480px;
    background: #E3E8E5;
    border-radius: 15px;

    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 50px;
    padding: 50px 20px;
}


.openingBox h2 {

    font-size: 24px;
    font-weight: 300;
    font-family: 'Work Sans', sans-serif;
    width: 100%;
}

.specialText {

    color: #A2D5C6;
    font-size: 38px;
    font-family: 'Josefin Slab', serif;
    font-style: italic;

}

tr td{
    /* border: 1px solid black; */
    padding: 15px 0px;
    font-size: 1.125rem;
    
}

.td1 {

    
    padding-right: 100px;
}

.heroBtnBox {

    display: flex;
    justify-content: space-around;
    width: 100%;
}


/* ABOUT SECTION*/


.about{
    
    display: flex;
    width: 1200px;
    margin: auto;
    padding: 100px 0;
}

.about-container-full {

   position: relative;
}
.main-about-container {

   
   width: 1200px;
   margin: auto;
 
}

.about-box-left{
    width: 45%;
    text-align: justify;
}

.about-box-right{
   display: flex;
   flex-direction: column;
   justify-content: end;
   width: 45%;
}


.about-box-left h1{
    color:  #A2D5C6;
    /* padding-left: 150px; */
    padding-top: 50px;
    padding: 50px 0 50px 0px;
    font-size: 70px;
    text-align: left;
}

.about-box-left p{
   padding-right: 150px;
   padding-bottom: 5px;
   font-family:'Work Sans', sans-serif;
}


.work{
    position: absolute;
    top: 20px;
    right: 0;
    border-radius: 15px 0 0 15px;    
} 

#specialimg {

   position: absolute;
   right: 0;
   top: 20;
   z-index: -1;

}

 @media only screen and (max-width: 3000px) {
    #specialimg {

      width: 600px;
      height: 500px;
    }
 }

 
@media only screen and (max-width: 2400px) {
   #specialimg {

     width: 500px;
     height: 400px;
   }
} 


/* afkorting Rafal Leyla voor de image */

/* .rl{
   position: absolute;
   right: 200px;
} */

.rl p{
    display: flex;
    /* align-items: end;
    justify-content: end; */
    font-family: 'Josefin Slab', serif;
    font-style: italic;
    font-size: 40px;
    margin: 0;
    z-index: 999;
}

.rl img{
    border-radius: 15px;

}

span{
    color:  #A2D5C6;  
}


/*description */

.description{
   
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.15) 0%, rgba(0, 0, 0, 0.15) 100%), url("../images/Eccellenza_banner_table.jpg"), lightgray 50% / cover no-repeat;


    /* background-size:fixed; */
    height: 400px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
   
    background-attachment: fixed;
    
    
    
   
}

.description-container {

   display: flex;
   align-items: center;
   height: 400px;
   width: 1200px;
   margin: auto;
}


.description-container h2{
    color: white;
    font-size: 36px;
    /* width: 500px; */
    margin: auto;
    text-align: right;
    
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
  
 }

 #description-text {

   padding-left : 200px;
 }

 /* gallery */


 .gallery{
   display: flex;
   flex-direction: column;
   padding: 80px 50px;
   width: 1200px;
   margin: auto;
   

}

.gallery h2{
   font-size: 70px;
   color: #A2D5C6;
   padding-bottom: 50px;
   padding-left: 20px;
     
}


.column-1{
   display: flex;
   flex-direction: row;
   padding: 15px;
}

.column-2 {
   display: flex;
   justify-content: space-between;
   padding-left: 25px;

}
.row-1{
   padding-right: 15px;
}

.rowcolumn-1{
   padding-bottom: 15px;
   padding-left: 5px;
   display: flex;
   
}
.rowcolumn-2{
   padding-left: 10px;
}

.img1{
   padding-right: 24px;
}

.img2{
   padding-right: 24px;
}


 /* contactpagina */

 .contact{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 1200px;
    margin: auto;
    padding: 100px 0px;
 }

 .contact h2{
    color:  #A2D5C6;  
    font-size: 70px;
 }


 .location{
    padding: 0 20px;
    
 }

 iframe{
    height: 600px;
    width: 600px;
 }


 .location-description{
    padding: 0 50px;
 }

 .location-content p{
    font-size: 15px;
    font-family: 'Work Sans', sans-serif;    
 }


 .contact-info{
    padding-top: 10px;
 }

 .contact-info h2{
    font-size: 40px;
    color: #A2D5C6;
 }

 .icons{
    display: flex;
    flex-direction: row;
    padding: 15px;
 }

 .icons i{
    color: #A2D5C6; 
    font-size: 25px;
    padding: 10px;
 }

 .icon-text{
    padding: 10px;
    padding-top: 12px;
    font-size: 15px;
    font-family: 'Work Sans', sans-serif;
    
 }

 .icon-left{
    display: flex;
    flex-direction: column;
 }

 .icon{
    display: flex;
    flex-direction: row;
 }


/* reservation */

 .reservations {
    background-image: url('../images/terras-eccellenza.png');
    height: 700px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
 }
 
 
 .reservation-content{
    display: flex;
    flex-direction: column;
    width: 1200px;
 }
 
 
 .reservations h2{
    font-size: 70px;
    color: white;
  
    
 }
 
 .reservations p{
    font-size: 30px;
    color: white;
    padding-bottom: 50px;
    font-family: 'Work Sans', sans-serif;
 
 }
 
 
 
  /* bttn */
 
 .reservationBtn{
  display: flex;
  justify-content: space-around;
 
 }
 
 
  .btn {
 
    width: 350px;
    height: 90px;
    background-color: #A2D5C6;
 
    border-bottom: 3px solid #FFF;
    border-right: 1px solid #FFF;
    border-top: none;
    border-left: none;
    border-radius: 15px;
 
    color: #252525;
    font-family: 'Work Sans', sans-serif;
    font-size: 2rem;
    
 
 }
 
 .btn:hover {
 
    background: #FFF;
    color: #A2D5C6;
    border-top: 3px solid #A2D5C6;
    border-left: 1px solid #A2D5C6;
    transition: 0.3s;
    cursor: pointer;
 }
 
 .btn:active {
 
    background: #A2D5C6;
    color: #FFF;
    /* border-top: 3px solid #FFF; */
    border-left: 1px solid #FFF; 
    border-bottom: 3px solid #FFF;
    border-right: 1px solid #FFF;
 
    transition: 0.5s;
    cursor: pointer;
 
 
 }

 /* footer */ 

footer{
    height: 100px;
    background-color: #E3E8E5;
    display: flex;
    align-items: center;
    justify-content: center;
 }
 
 footer p{
    align-items: center;
 }



 /* Mailchimp newsletter */
 
 #mc_embed_signup
 {
   
   background:#fff; 
   font:20px;   
   width: 600px;
}

.mailchimp-main-container {

   display: flex;
   justify-content: center;
   align-items: center;
   height: 50vh;
   width: 1200px;
   margin: auto;

   background: #E3E8E5;
   padding-top: 50px;
   padding-bottom: 50px;

   }

.mailchimp-main-container-bg {

   background: #E3E8E5;
   width: 100%;
}
.mailchimp-box-left, .mailchimp-box-right {

   width: 45%;
   height: 30vh;
   display: flex;
   align-items: center;
   
}

.mailchimp-box-left {

   display: flex;
   justify-content: center;
   align-items: flex-start;

   flex-direction: column;
   gap: 100px;
}

.mailchimp-box-left h2 {
  
   font-size: 56px;
   width: 400px;
}

.mailchimp-box-left p {
  
   font-size: 18px;
   width: 400px;
}


.refferal_badge {

   width: 50px;
   height: 50px;
}

#mc_embed_signup {

   background: #A2D5C6;
   padding: 20px;
   border-radius: 15px;
}

#mce-EMAIL-HELPERTEXT {

   background: #A2D5C6;
}

.helper_text {

   background: #252525;
}

#mce-EMAIL {

   background-color: #E3E8E5;
   border: 1px solid #E3E8E5;
   border-radius: 15px;
}



#mc-embedded-subscribe {

   background-color: #E3E8E5 !important;
   color: #252525 !important;
}

.mc-field-group label {

   text-align: left;
   width: 100%;
   padding: 10px 0px;
}



