.main-form-container {

    /* Dit heb ik overgenomen vanuit Figma  */
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.20) 0%, rgba(0, 0, 0, 0.20) 100%), url(../images/Eccellenza\ Bar.jpg), lightgray 50% / cover no-repeat;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover; 
    height: 100vh;
 
    display: flex;
    padding-bottom: 250px;
    justify-content: center;
    align-items: center;
 
  }
  
.form-succes{
    width: 500px;
    height: 500px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #E3E8E5;
    border-radius: 15px;
}

.iconnn{
    font-size: 90px;
    color: green;
}


/*ss is afkorting succes */
.ss{
    color: green;
    font-weight: bold;
}

.back{
  font-size: large;
  padding-top: 20px;
}

.index{
  text-decoration: none;
  font-style: italic;
  color: black;
}

.index:hover{
  color: #A2D5C6;
}

footer{
    height: 100px;
    background-color: #E3E8E5;
    display: flex;
    align-items: center;
    justify-content: center;
 }
 
 footer p{
    align-items: center;
 }