.btn {

    width: 190px;
    height: 45px;
    background-color: #A2D5C6;

    border-bottom: 3px solid #FFF;
    border-right: 1px solid #FFF;
    border-top: none;
    border-left: none;
    border-radius: 15px;

    color: #FFF;
    font-family: 'Work Sans', sans-serif;
    font-size: 1.125rem;

}

.btn:hover {

    background: #FFF;
    color: #A2D5C6;
    border-top: 3px solid #A2D5C6;
    border-left: 1px solid #A2D5C6;
    transition: 0.3s;
    cursor: pointer;
}

.btn:active {

    background: #A2D5C6;
    color: #FFF;
    /* border-top: 3px solid #FFF; */
    border-left: 1px solid #FFF; 
    border-bottom: 3px solid #FFF;
    border-right: 1px solid #FFF;

    transition: 0.5s;
    cursor: pointer;


}

